.content{
  .dashboard{
    .dashboard-content{
      width: 100%;
      padding-top: 4rem;
      .this-content{
        padding: 1rem;
        width: 100%;
        .table{
          thead{
            tr{
              background-color: #242939;
              color: white;
              th{
                text-align: center;
                button{
                  display: flex;
                  align-items: center;
                  i{
                    margin-right: 5px;
                  }
                }
              }
            }
          }
          tbody{
            tr{
              background-color: white;
              td{
                text-align: center;
                button{
                  display: flex;
                  align-items: center;
                  i{
                    margin-right: 5px;
                  }
                }
                .btn-modify{
                  background-color: #566ee7;
                  color: white;
                }
                .btn.btn-modify:hover{
                  background-color: #3d4fab;
                }
                img{
                  width: 4rem;
                  height: 4rem;
                  object-fit: contain;
                }
              }
            }
            tr:hover{
              background-color: #B4B8CE;
            }
          }
        }
      }
    }
  }
}
