.content{
  display: flex;
  .aside-menu{
    background-color: #242939;
    height: 100vh;
    width: 5rem;
    transition: 0.5s;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 0px 7px 0px black;
    .content-aside{
      //width: 2rem;
      //padding: 0 22px;
      margin: 0px auto;
      color: white;
      margin-top: 1rem;
      .aside-header{
        padding: 0 22px;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .aside-logo{
          display: none;
          width: 3rem;
          height: 3rem;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .aside-title{
          display: none;
          font-family: $lato-regular;
        }
        .aside-menu-icon{
          i{
            font-size: 35px;
          }
        }
      }
      .aside-table-menu{
        margin-bottom: 2rem;
        .aside-table-conten{
          color: #9095A3;
          .aside-table-menu-dropdown{
            cursor: pointer;
            padding: 0 22px;
            display: flex;
            .table-menu-icon{
              i{
                font-size: 30px;
                color: #434D6B;
              }
            }
            .table-menu-title{
              margin-left: 10px;
              font-family: $lato-regular;
              font-size: 20px;
              display: none;
            }
          }
          .to-show-table-menu{
            display: none;
            ul{
              padding: 0;
              li{
                a{
                  transition: 0.3s;
                  padding: 0 40px;
                  display: flex;
                  align-items: center;
                  cursor: pointer;
                  color: unset;
                  i{
                    //transition: 0.3s;
                    font-size: 5px;
                    margin-right: 1rem;
                  }
                }
                a:hover{
                  text-decoration: none;
                }
              }
              li:hover{
                background-color: #1F2433;
                color: white;
                i{
                  color: #566EE7;
                }
              }
            }
          }
        }
      }
      .active{
        background-color: #1F2433;
        height: 2rem;
        color: white;
        i{
          color: #566EE7;
        }
        .table-menu-icon{
          i{
            transition: 0.5s;
            color: #566EE7 !important;
          }
        }
      }
    }
  }
  .aside-menu:hover{
    width: 20rem;
    .content-aside{
      //width: 15rem;
      .aside-header{
        .aside-title{
          display: block;
        }
        .aside-logo{
          display: block;
        }
      }
      .aside-table-menu{
        .aside-table-conten{
          .aside-table-menu-dropdown{
            transition: 0.3s;
            .table-menu-icon{
              i{
              }
            }
            .table-menu-title{
              display: block;
            }
          }
          .aside-table-menu-dropdown:hover{
            background-color: #1F2433;
            color: white;
            i{
              color: #566EE7;
            }
            .table-menu-icon{
              i{
                transition: 0.5s;
                color: #566EE7 !important;
              }
            }
          }
          .to-show-table-menu{
            display: block;
          }
        }
      }
      .active{
        .table-menu-icon{
          i{
            color: #434D6B !important;
          }
        }
      }
    }
  }
  .dashboard{
    width: 100%;
    padding-left: 5rem;
    .navigation{
      position: fixed;
      width: 96%;
      z-index: 1;
      box-shadow: 0px 0px 5px -3px black;
      .nav-container{
        background-color: white;
        display: flex;
        justify-content: space-between;
        height: 4rem;
        .left-options{

        }
        .right-options{
          display: flex;
          align-items: center;
          margin-right: 1rem;
          .find-icons, .alert-icons, .setting-icons, .lenguaje-icons{
            height: 100%;
            .find-icons-content, .alert-icons-content, .setting-icons-content, .lenguaje-icons-content{
              height: 100%;
              display: flex;
              align-items: center;
              padding: 0 10px;
              color: #b4b8ce;
              transition: 0.5s;
              cursor: pointer;
              i{
                font-size: 35px;
              }
            }
          }
          .find-icons{
            .find-dropdown{
              transition: .3s;
              background-color: #fff;
              width: 17rem;
              box-shadow: 0px 0px 5px -3px #000;
              position: absolute;
              right: 22.2rem;
              display: block;
              overflow: hidden;
              height: 0rem;
            }
          }
          .find-icons:hover{
            .find-dropdown{
              height: 38px;
            }
          }
          .find-icons:hover, .alert-icons:hover, .setting-icons:hover, .lenguaje-icons:hover{
            color: #5D77FD;
          }
          .lenguaje-icons{
            .img-lenguaje-container{
              width: 28px;
              height: 28px;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }
            }
            .lenguaje-dropdown{
              transition: 0.3s;
              background-color: white;
              width: 9rem;
              box-shadow: 0px 0px 5px -3px black;
              position: absolute;
              right: 12.2rem;
              display: block;
              overflow: hidden;
              height: 0rem;
              .lenguaje-dropdown-content{
                padding: 0.5rem 0.5rem;
                .lenguaje-options{
                  .lenguaje-option{
                    transition: 0.3s;
                    display: flex;
                    align-items: center;
                    height: 2rem;
                    cursor: pointer;
                    padding: 0 10px;
                    .lenguaje-option-flag{
                      height: 25px;
                      width: 25px;
                      margin-right: 1rem;
                      img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                      }
                    }
                    .lenguaje-option-text{
                      font-family: $lato-regular;
                      color:#6c7293;
                      font-size: 18px;
                    }
                  }
                  .lenguaje-option:hover{
                    background-color: #F0F3FF;
                    .lenguaje-option-text{
                      color: #5D77FD;
                    }
                  }
                }
              }
            } 
          }
          .lenguaje-icons:hover{
            .lenguaje-dropdown{
              height: 5rem;
            }
          }
          .user{
            height: 100%;
            
            .user-content{
              display: flex;
              align-items: center;
              height: 100%;
              cursor: pointer;
              transition: 0.5s;
              .name{
                margin: 0 10px;
                font-family: $lato-regular;
                span{
                  color: #959cb6;
                  .strong-name{
                    color: #6c7293;
                  }
                }
              }
              .user-image{
                width: 38px;
                height: 38px;
                margin-right: 10px;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 50%;
                }
              }
            }
            .user-dropdown{
              transition: 0.3s;
              background-color: white;
              width: 15rem;
              box-shadow: 0px 0px 5px -3px black;
              position: absolute;
              right: 1.2rem;
              display: block;
              overflow: hidden;
              height: 0rem;
              .user-dropdown-content{
                .user-dropdown-header{
                  background-color: #4863D6;
                  height: 4rem;
                  margin-bottom: -25px;
                }
                .user-dropdown-info{
                  display: flex;
                  align-items: center;
                  padding: 0 15px;
                  margin-bottom: 2rem;
                  .user-dropdown-image{
                    height: 60px;
                    width: 60px;
                    margin-right: 1rem;
                    img{
                      height: 100%;
                      width: 100%;
                      object-fit: cover;
                      border-radius: 50%;
                    }
                  }
                  .user-dropdown-text{
                    text-align: center;
                    .user-dropdown-name{
                      color: white;
                      font-weight: bold;
                      font-family: $lato-bold;
                      font-size: 18px;
                      position: relative;
                      bottom: 8px;
                    }
                    .user-dropdown-career{
                      color: #6c7293;
                      font-family: $lato-regular;
                      font-size: 15px;
                      position: relative;
                      bottom: 3px;
                    }
                  }
                }
                .user-dropdown-body{
                  padding: 0 15px;
                  .user-dropdown-options{
                    padding-bottom: 1.5rem;
                    border-bottom: 1px solid #acb3ce;
                    .user-dropdown-option{
                      transition: 0.3s;
                      display: flex;
                      height: 2rem;
                      cursor: pointer;
                      .option-icon{
                        margin-right: 0.8rem;
                        i{
                          color: #acb3ce;
                          font-size: 30px;
                        }
                      }
                      .option-text{
                        color: #484d63;
                        font-family: $lato-regular;
                        font-size: 20px;
                      }
                    }
                    .user-dropdown-option:hover{
                      background-color: #F0F3FF;
                    }
                  }
                }
                .user-dropdown-footer{
                  padding: 10px 15px;
                  .user-dropdown-footer-content{
                    .user-dropdown-footer-options{
                      .close-seasion{
                        display: flex;
                        justify-content: center;
                        .btn-close-seasion{
                          background-color: #EEF1FF;
                          color: #5D78FF;
                          transition: 0.3s;
                          font-family: $lato-bold;
                        }
                        .btn-close-seasion:hover{
                          color: white;
                          background-color: #5D78FF;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .user:hover{
            .user-dropdown{
              height: 16rem;
            }
          }
          .user-content:hover, .lenguaje-icons-content:hover, 
          .setting-icons-content:hover, .alert-icons-content:hover, 
          .find-icons-content:hover{
            background-color: #F0F3FF;
          }
        }
      }
    }
  }
}
